/* --- Colors */

$primary-color: #fff;
$second-color: #10141f;
$third-color: #2c3e50;
$red: #ff0000;
//
// Font-weight
$font-weigths: ( "regular": 400, "medium": 600, "bold": 900);
//
// Positioning
$left: 0;
$bottom: 0;